<div class="box wide">
  <div class="legend">
    Գաղտնիութեան Քաղաքականութիւն
  </div>

  <p>
  Զգոյշ խօսիր համացանցում, այստէղ չկայ գաղտնիութիւն։
  </p>

  <p>
  (Բացի եթէ <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act">13 տարեկանդ լրացած չես</a>, այդ դէպքում այստեղ չպէտք է լինես։)
  </p>
</div>
